

.formulario {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.formulario label {
    font-size: 15px;
    text-align: center;
    font-weight: bold;
}

#ingresarCiudad {
    padding: 7px 22px;
    margin-top: 5px;
    border: 1px solid #000;
    border-radius: 5px;
}
#agregarCiudad {
    font-weight: bold;
    color: #FFF;
    background-color: #00594c;
    border-radius: 9px;
    border: none;
    text-align: center;
    width: 40%;
    padding: 10px 2px;
    margin-bottom: 20px;
}

.mensajes {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.mensajes p {
    font-size: 12px;
    color: #FFF;
    width: 35%;
    padding: 15px;
    margin-top: 10px;
    border-radius: 10px;
}

.exito {
    background-color: #28a745;
}

.error {
    background-color: #dc3545;
}

.existente {
    background-color: #ffc107;
}