.caja{

    
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items:flex-start;
    
    
   
  }
  .carga{

    -ms-flex-align: center;
    align-self: center;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items:center;
    
    
   
  }
  label{
   
    text-align: start;
    width: 100%;
  }
#formu{
    width: 17%;
    align-self: center;
    display: flex;
    
    flex-direction: column;
    align-items:center;
}
  section{


    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
   
  }
  .boton_caja{


    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    
   
  }
  textarea{
    height: 150px;
  }



  .boton_azul{
    height: 30px;
   
    font-weight: bold;
    color: #FFF;
    background-color: #00594c;
    border-radius: 9px;
    border: none;
    text-align: center;
    vertical-align: center;
    box-sizing: border-box;
    width: 7%;
    padding: 10px;
    margin-bottom: 20px;
   
    margin: 10px;
  }
  .boton_naranja{
    height: 30px;
    vertical-align: center;
    font-weight: bold;
    color: #FFF;
    background-color: #dc3545;
    border-radius: 12px;
    box-sizing: border-box;
    border: none;
    text-align: center;
    width: 30%;
    padding: 10px ;
    margin-bottom: 20px;
    font-size: x-small;
   
    margin-top: 20px;
  }